#anchorPane {
    -fx-background-color:  #dbf3dd;
}

.buttonMain {
    -fx-background-color: #377542;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.buttonAlt {
    -fx-background-color: transparent;
    -fx-text-fill: #377542;
}

.buttonAlt:hover {
    -fx-underline: true;
}

TextField, PasswordField {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}